.dark{
    background-color: #202838;
    color:rgb(250, 250, 250);
}

.light{
    background-color: #ffffff;
    color:#050505;

}

@keyframes rot{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(190deg);
        transform: translateX(60px);
    }
}